body {
  margin: 0;
  font-family: 'Days One', sans-serif;
}

h1, h2 {
  text-align: center;
  font-size: 30px;
}

.menu_screen, .winner {
  display: block;
  text-align: center;
}

.chosen {
  margin-left: auto;
  margin-right: auto;
}

button {
  font-size: 20px;
  margin:10px;
  font-family: 'Days One', sans-serif;
}
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
.flip-container.flip .flipper {
  transform: rotateY(180deg);
}

img, .flip-container, .front, .back {
	width: 150px;
	height: 150px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
